# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives:**

- List popular languages for Data Science
- Describe commonly used data science libraries
- Introduce popular development environment open source tools used in data science
- Demonstrate basic arithmetic expressions in Python
- Convert minutes to hours using Python expressions

Some of the popular languages that Data Scientists use are:

1. Python
2. R
3. SQL

Some of the commonly used libraries used by Data Scientists include:

1. Pandas
2. Numpy
3. Scikit-learn

| Data Science Tools |
|--------------------|
| Jupyter Notebook   |
| Spyder             |
| PyCharm            |

### Below are a few examples of evaluating arithmetic expressions in Python.

In [5]:
# This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [6]:
# This will convert 200 minutes to hours by dividing by 60
minutes = 200
hours = minutes / 60
print(hours)

3.3333333333333335

## Author

James Chattoock